mat-card {
  background-color: whitesmoke;
}

.header-image {
  background-size: cover;
  width: 100px;
  height: 100px;
}

.client-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
